*{
    font-family: 'Poppins', monospace;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
  }
header{
    position: relative;
    height: 100vh;
    top:0; left: 0; right:0;
    background: #f1df96;
    background-image: url(img/shapes.png);
  }
nav{
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
  }
header .navbar{
    flex: 1;
    text-align: center;
} 
header .navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
}
header .navbar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 4px 4px;
    border-radius: 30px;
}
header .navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 6px;
    border-radius: 30px;
}
header .navbar ul li button{
    background: transparent;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 6px;
    border-radius: 30px;
}
header .navbar ul li a:hover
{
    background: transparent;
    color: #08040e;
    width: 100%;
    height: 40px;
    margin: auto;
}
header .navbar ul li a:active
{
    background: transparent;
    color: #08040e;
    width: 100%;
    height: 40px;
    margin: auto;
}
header .navbar ul li button:hover{
    background: transparent;
    color: #08040e;
    width: 100%;
    height: 40px;
    margin: auto;
}
 
.home{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
.home .content{
    flex:1 1 40rem;
    padding-top: 6.5rem;
  }
  
.home .imgbox{
    margin-right: 60px;
    flex:1 1 20rem;
    max-width: 600px;
  }
  
.home .imgbox img{
    width:100%;
    max-height:100vh;
    padding-right: 80px;
    padding-top: 10px;
    display: flex;
    animation:float 5s linear infinite;

  }
@keyframes float{
    0%, 100%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(7rem);
    }
  }
.home .content h1{
    font-size: 4rem;
    color: rgb(8, 8, 4);
    padding:3rem 0 0 7rem;
  }
.home .content h1 span{
  font-weight: 900;
}
  
.home .content h2{
    font-size: 1.4rem;
    color:#ffffff;
    padding:1rem 0 0 7rem;
  }
.home .content h3{
    font-size: 1.4rem;
    color: black;
    padding:1rem 0 0 7rem;
  }
.formbox{
    padding: 1rem 0 0 7rem;
}
.content .search{
    height: 30px;
    width: 320px;
    padding: 30px;
    border: none;
    border-radius: 30px;
    outline: none;
}
.home .thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.home .thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 1s;
}
.home .thumb li img{
    max-width: 80px;
}
.home .thumb li:hover{
    transform: translateY(-15px);
}
.best{
   width: 100%;
   height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;
   background: rgb(161, 231, 161);
   background-image: url(img/shapes.png);
}
/*.content{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}*/
.best .wrapper{
   display: flex;
   width: 80%;
   justify-content: space-around;
}
.best .wrapper .card{
  width: 380px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}
.best .card:hover{
   transform: translateY(20px);
}
.best .card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.best .card:hover:before{
    opacity: 1;
}
.best .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.best .card .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  margin-bottom: 20px;
}
.best .card:hover .info{
    opacity: 1;
    transform: translateY(0px);
    
}
.best .card .info h1{
    margin: 0;
}
.best .card .info p{
     letter-spacing: 1px;
     font-size: 15px;
     margin-top: 8px;
     margin-bottom:20px;
}
.best .card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.4s ease-in-out;
}
.best .card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}